body{
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
}
/*hero section start */
h1{
    font-size: 45px;
    color: #2b2a2a;
}
.org-color{
    color: #F97C62;
}
.hero-section{
    display: flex;
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
}
.hero{
    width: 50%;
    padding-left: 8%;

}
.hero img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(#F88164, #E53811);
    padding: 10px 25px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 15px;
    
}

/*hero section finished */
.dream-big{
    display: flex;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.dream{
    width: 50%;
    padding: 0% 8%;
}
.dream img{
    width: 80%;
}
